<%- include('partials/header') %>


<div class=" centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3 new">Authentication</h1>
    <p class="lead">Welcome to a secure authentication system, where you can easily sign up or log in to access your account. It offers security and privacy, ensuring a seamless and protected experience. Whether you're a new user or returning, our system provides a fast and reliable way to manage your credentials safely.</p>
    <hr>
    <a class="btn btn-light btn-lg fs-1" href="/register" role="button">Sign Up</a>
    <a class="btn btn-dark btn-lg fs-1" href="/login" role="button">Sign In</a>

  </div>
</div>



<%- include('partials/footer') %>
